include README.rst LICENSE
global-include CMakeLists.txt *.cmake
recursive-include lib/pybind11/include *.h
recursive-include src *
prune src/.vscode
recursive-include data *.obj
recursive-include examples *.py
